/*!
 *
 *  The selectors in this file are intended to be used on blog articles.
 *
 */

 #article-attribution{
   font-size: small;
   margin-top: 3rem;
 }
 #article-attribution p{
  text-indent: initial;
 }
 #article-date{
  text-indent: 0;
  color: darkgray;
}
#article-img{
  position: relative;
  overflow: hidden;
  padding: 0;
}
#article-img img{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}
#article-subtitle{
  padding: 0.5rem 0rem 1rem 0rem;
}
 #article-title{
  padding: 2rem 0rem 0.5rem 0rem;
}
article p{
  text-indent: 2rem;
}
